<%- include("./partials/header.ejs") %>

<h1>Producto creado correctamente</h1>

<h2>ID</h2> <%= producto.id %>

<h2>Producto</h2> <%= producto.productName %>

<h2>Precio</h2> <%= producto.productPrice %>