<form action="/nuevo-usuario" method="post">
    <label for="nombre">Nombre</label><input type="text" name="nombre"/>
    <label for="email">email</label><input type="email" name="email"/>
    <button type="submit">ENVIAR</button>   
</form>